/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #45544D;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0 0 2em 0;
}

input {
  border: none;
  font-size: 1.3em;
  padding: 10px 2%;
  width: 96%;
}

ol {
  border: solid 1px #39453F;
  margin-top: 1em;
}

li {
  font-size: 1.3em;
  padding: 1em;
  position: relative;
}

li:nth-child(odd) {
  background-color: #A1C2CF;
}

li .delete {
  background-color: #45544D;
  color: #A1C2CF;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  background-color: #88A4AF;
  border-left: solid 1px #39453F;
  border-right: solid 1px #39453F;
  margin: 0 auto;
  max-width: 600px;
  padding: 30px;
}
